*{
   box-sizing: border-box;
}

body {
   background: linear-gradient(to right, red, yellow);
   text-align: center;
   text-transform: uppercase;
   letter-spacing:.5em;
   font-family: arial;
}

h1 {
   color:rgba(0,0,0,0.5)
}

h2{
   color:rgba(0,0,0,0.5)
}

h4{
   color:rgba(0,0,0,0.5)
}

.css-container {
   background-color:rgba(255,255,255, 0.2);
   width:100%;
   max-width: 700px;
   margin: 0 auto;
   padding:1rem;
   position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.css-container h4 {
   text-decoration: underline;
}

button {
   cursor: pointer;
   background-color:transparent;
   border: 1px solid white;
   color:white;
   padding:1rem;
   transition: all 1s;
}

button:hover {
   transform: scale(1.2);
}



